@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&family=Inter:wght@600&display=swap');

.uniNotes-title {
    font-family: 'Montserrat', 'Poppins', 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #333;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.login-container {
    background: rgb(249, 249, 248);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(114, 107, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.logo {
    width: 300px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 200px;
    padding: 10px;
    background: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #f4f4f4; /* Optional: Background color */
}

.g_id_signin {
    width: 200px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    background-color: white; /* Optional: Background color */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}


.separator {
    margin: 20px 0;
    font-weight: bold;
    color: #666;
}

/* ------------Login Page --------------- */

